flask
flask-sqlalchemy
flask-wtf
flask-socketio
flask-sse
pandas
openpyxl
eventlet
SQLAlchemy
WTForms
Werkzeug
greenlet
jinja2
itsdangerous
click
six
python-dateutil
pytz
python-docx
pdfplumber
psutil
numba
